.login_menu, .signup_menu {
    color: @second-font-color;
    background-color: @main-bg-color;
    padding: 40px 80px;
}

.auth-menu_title-block {
    margin-bottom: 24px;
}

.auth-menu_title {
    color: @main-font-color;
    font-size: 24px;
    font-weight: 600;
}

.auth-menu_subtitle {
    color: @second-font-color;
    font-size: 14px;
    margin: 12px 0 20px;
}
