.chat_header {
  color: @main-font-color;
  background-color: @main-bg-color;
  border-bottom: 1px solid @second-bg-color;
  padding: 25px 35px 25px 35px;
}

.chat_title {
  color: @main-font-color;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.messagelist {
  background-color: @main-bg-color;
  padding: 20px 35px 0;
}

.right_message {
  color: @main-font-color;
  border-radius: 10px 0 10px 10px;
  background-color: @onfocus-color;
  padding: 10px 15px;
}

.left_message {
  color: @main-font-color;
  border-radius: 0 10px 10px 10px;
  background-color: @second-bg-color;
  padding: 15px;
}

.msg_box {
  color: @second-font-color;
  margin-bottom: 10px;
}

.delete_msg_btn {
  background-image: url("../img/close.png");
  background-size: 12px 12px;
  background-position: 4px 5px;
  background-repeat: no-repeat;
  padding: 0;
}

.delete_msg_btn:hover {
  background-image: url("../img/close-hover.png");
}

.edit_msg_btn {
  background-image: url("../img/pencil.png");
  background-size: 13px 13px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding: 0;
}

.edit_msg_btn:hover {
  background-image: url("../img/pencil-hover.png");
}

.msg_name {
  font-weight: 500;
}

.msg_name--right {
  margin-left: 20px;
}

.msg_name--left {
  margin-right: 20px;
}

.msg_time {
  font-size: 12px;
}

.input-msg_box {
  border-top: 1px solid @second-bg-color;
  background-color: @main-bg-color;
  padding: 20px 35px;
}

.input-msg_entry {
  outline: none;
  border: none;
  color: @main-font-color;
  font-size: 15px;
  box-shadow: none;
  background-color: @main-bg-color;
}

.input-msg_entry:focus {
  outline: none;
  box-shadow: none;
}
