.input-field {
    outline: none;
    color: @second-font-color;
    font-size: 16px;
    border: 1px solid @second-bg-color;
    border-radius: 3px;
    box-shadow: none;
    background-color: @second-bg-color;
    padding: 5px 20px 5px 45px;
    transition: 0.2s all linear;
}

.input-field:focus {
    outline: none;
    color: @onfocus-color;
    box-shadow: none;
    border: 1px solid @onfocus-color;
    background-color: rgba(71, 110, 239, 0.1);
    caret-color: @onfocus-color;
}

.input-field--search {
    background-image: url("../img/search.png");
    background-position: 12px 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.input-field--search:focus {
    background-image: url("../img/search-focus.png");
}

.input-field--name {
    background-image: url("../img/user.png");
    background-position: 14px 14px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.input-field--name:focus {
    background-image: url("../img/user-focus.png");
}

.input-field--name.input-field--danger {
    background-image: url("../img/user-danger.png");
}

.input-field--name.input-field--success {
    background-image: url("../img/user-success.png");
}

.input-field--password {
    background-image: url("../img/lock.png");
    background-position: 14px 14px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.input-field--password:focus {
    background-image: url("../img/lock-focus.png");
}

.input-field--password.input-field--danger {
    background-image: url("../img/lock-danger.png");
}

.input-field--password.input-field--success {
    background-image: url("../img/lock-success.png");
}

.input-field--danger {
    color: @danger-color;
    background-color: rgba(255,71,87, 0.1);
    border-color: rgba(255,71,87, 0.1);
    caret-color: @danger-color;
}

.input-field--danger:focus {
    color: @danger-color;
    background-color: rgba(255,71,87, 0.1);
    border: 1px solid @danger-color;
    caret-color: @danger-color;
}

.input-field--success {
    color: @success-color;
    background-color: rgba(70,201,58, 0.1);
    border-color: rgba(70,201,58, 0.1);
    caret-color: @success-color;
}

.input-field--success:focus {
    color: @success-color;
    background-color: rgba(70,201,58, 0.1);
    border-bottom: 1px solid @success-color;
    caret-color: @success-color;
}

.input-field_title {
    color: @second-font-color;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px 10px;
}

.notify-label {
    color: @second-font-color;
    font-size: 12px;
    margin: 5px 0 20px 10px;
}

.notify-label--danger {
    color: @danger-color;
}

.notify-label--success {
    color: @success-color;
}
