@import url("inputs.css");
@import url("buttons.css");
@import url("authorisation.css");
@import url("windows.css");
@import url("menu.css");
@import url("chat.css");

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

window {
    color: #f1f2f3;
    background-color: #2b4f38;
}


.chatscreen_notify {
    color: #f1f2f3;
}

.hidden {
    font-size: 0;
    opacity: 0;
}

.menubar {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
}

.menubar:hover  .edit_profile_btn {
    background-image: url("../img/settings-hover.png");
}

.menubar_menu {
    outline: none;
    border: none;
    box-shadow: none;
    color: #f1f2f3;
    background-color: #355c45;
    padding: 10px;
}

.menubar_menu * {
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0;
    color: #f1f2f3;
}

.menubar_menu *:hover {
    background-color: #2b4f38;
}
